In [47]:
import pandas as pd
 alunos = {'nome':['Gay', 'jumento', 'bosta', 'cavalo'],
        'Nota':[0, 2, 3, 6,],
        'Aprovado':['Não', 'Não','Não', 'Sim']}

In [51]:
dataframe = pd.DataFrame(alunos)

In [53]:
print(dataframe)

      nome  Nota Aprovado
0      Gay     0      Não
1  jumento     2      Não
2    bosta     3      Não
3   cavalo     6      Sim

In [91]:
dataframe['nome']

0        Gay
1    jumento
2      bosta
3     cavalo
Name: nome, dtype: object

In [113]:
dataframe.loc[dataframe['Nota']==2]

      nome  Nota Aprovado
1  jumento     2      Não